body{
    background-color: blueviolet  ;
   margin:0px ;
   padding:0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}
canvas{
    box-shadow: rgb(23, 7, 52) 20px 10px 50px;
}
h1{
    color: aliceblue;
}